@charset "UTF-8";

body{
    background-color: rgb(177, 233, 177);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 68, 0);
}
h1#principal{
    text-align: center;
    font-size: 3em;
    background-color: aliceblue;
}

h2{
    color: rgb(26, 111, 26);

}

.basico{
    color: rgb(2, 209, 133);
}

.intermediario{
    color: darkgoldenrod;
}

.avancado{
    color: red;
}
.destaque{
    background-color: rgb(244, 244, 244);
}